:global .App {
  text-align: center;
}

.header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.header h2 {
  color:white;
}

.intro {
  font-size: large;
}

.menu a {
  display: inline-block;
  padding: 10px;
}

.main{
  width: 900px;
  margin: 0px auto
}
